* {
    font-family: sans-serif;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    background-color: #202124;
    color: #ccc;
    padding-left: 70px;
}

.nav {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.1);
    height: 100%;
    width: 64px;
    padding: 5px;
    box-sizing: border-box;
    overflow: hidden;
}

.nav .logo {
    font-weight: bolder;
    font-size: 30px;
    text-align: center;
    color: #b887da;
    margin-bottom: 20px;
    margin-top: 10px;
}

.nav button {
    background-color: #202124;
    color: #777;
    border: none;
    padding: 10px;
    border-radius: 3px;
    outline: none;
    cursor: pointer;
    width: 54px;
    margin-top: 5px;
}

.container {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

#fichas {
    box-sizing: border-box;
}

.ficha,
#add {
    width: 220px;
    height: 248px;
    padding: 10px;
    padding-bottom: 12px;
    border: 1px solid #353535;
    border-radius: 5px;
    text-align: center;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    margin: 0 0.5% 10px 0;
    background-color: rgba(255, 255, 255, 0.05);
}

#add {
    background-color: rgba(255, 255, 255, 0.01);
    cursor: pointer;
    font-size: 150px;
    color: #bbb;
}

.cabecalho {
    height: 25px;
}

.ordem {
    float: left;
    font-weight: bold;
    color: #ccc;
}

.menu {
    float: right;
    cursor: pointer;
    font-weight: bolder;
    color: #ccc;
    margin-top: -10px;
    padding: 5px;
}

.foto {
    margin-bottom: 10px;
    display: inline-block;
}

.foto img {
    border-radius: 100%;
    border: 1px solid #454545;
    width: 64px;
    height: 64px;
}

.nome {
    font-weight: bolder;
    font-size: 18px;
    color: #ccc;
    margin-bottom: 10px;
}

.numeros .grupo {
    display: inline-block;
    text-align: left;
    margin-top: 8px;
}

.numeros label {
    display: block;
    font-size: 10px;
    margin: 0 0 -20px 10px;
}

.numeros input {
    width: 80px;
    outline: none;
    border: none;
    margin-top: 5px;
    z-index: 99;
}

.numero {
    border-radius: 3px;
    background-color: rgba(70, 70, 70, 0.5);
    padding: 20px 5px 5px 10px;
    display: inline-block;
    color: #fff;
}

.hidden {
    display: none;
}

body {
    box-sizing: border-box;
}

.popup {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    text-align: center;
}

.popup .interno {
    border-radius: 5px;
    background-color: #454545;
    padding: 25px;
    display: inline-block;
    margin-top: 25px;
    width: 500px;
    box-sizing: border-box;
}

.popup .interno h2 {
    text-align: left;
}

.popup .grupo {
    text-align: left;
    max-width: 300px;
}

.popup .anotacao {
    text-align: left;
}

.popup .grupo label,
.popup .anotacao label {
    display: block;
    font-size: 12px;
}

.popup .grupo input,
.popup .anotacao textarea {
    border-radius: 3px;
    margin-bottom: 10px;
    padding: 5px 10px;
    width: 100%;
    border: none;
    outline: none;
    box-sizing: border-box;
    color: #DDD;
    background-color: rgba(255, 255, 255, 0.1);
}

.popup .anotacao textarea {
    resize: none;
    height: 125px;
}

.popup .botoes {
    margin-top: 10px;
    text-align: left;
}

.popup .botoes button {
    border: none;
    outline: none;
    padding: 10px 15px 8px;
    border-radius: 3px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    line-height: normal;
}

.popup .botoes .confirmar {
    background-color: #0075d3;
}

.popup .botoes .cancelar {
    background-color: #2c2c2c;
    color: #ccc;
}

.popup .esquerda {
    display: inline-block;
    width: 59%;
    box-sizing: border-box;
    vertical-align: top;
}

.popup .direita {
    display: inline-block;
    width: 40%;
    box-sizing: border-box;
    padding-left: 10px;
    vertical-align: top;
}

.popup .foto {
    display: block;
    text-align: center;
}

.contexto {
    display: inline-block;
    border: #919191 solid 1px;
    position: absolute;
    background-color: #fff;
    border-radius: 3px;
}

.contexto ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.contexto li {
    padding: 5px 10px;
    cursor: pointer;
    font-size: 12px;
    color: #333;
}

.contexto li:hover {
    background-color: #efefef;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}